<?xml version='1.0' encoding='utf-8'?>
<widget id="com.hatiolab.operato" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Operato</name>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
        <allow-intent href="market:*" />
        <icon density="mdpi" src="./app/images/manifest/bg-brand.png" />
        <icon density="xhdpi" src="./app/images/manifest/bg-brand.png" />
        <icon density="xxhdpi" src="./app/images/manifest/bg-brand.png" />
        <icon density="xxxhdpi" src="./app/images/manifest/bg-brand.png" />
    </platform>
    <platform name="ios">
    </platform>
    <preference name="Orientation" value="portrait" />
    <preference name="DisallowOverscroll" value="true" />
    <plugin name="cordova-plugin-dialogs" spec="~2.0.1" />
    <plugin name="cordova-plugin-whitelist" spec="~1.3.3" />
    <plugin name="cordova-plugin-spinner" spec="^1.1.0" />
    <plugin name="cordova-plugin-networkinterface" spec="^2.0.0" />
    <plugin name="cordova-plugin-ble-central" spec="^1.2.2">
        <variable name="BLUETOOTH_USAGE_DESCRIPTION" value="Allow to access bluetooth service" />
    </plugin>
    <plugin name="cordova-plugin-cache-clear" spec="^1.3.7" />
    <engine name="android" spec="^7.1.4" />
    <engine name="ios" spec="^4.5.5" />
</widget>
