<!-- QPS 단포 -->

<link rel="import" href="../../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../kiosk-libraries.html">
<link rel="import" href="./kiosk-sku-selection.html">

<link rel="import" href="../../../../styles/shared-styles.html">

<dom-module id="kiosk-single-handling">
    <template>
        <style include="shared-styles">
            :host {
                display: grid;
                grid-template-columns: 30% 70%;
                grid-auto-rows: 95% 5%;
                height: calc(100% - 40px);
                padding: 20px;
                border-radius: var(--things-default-border-radius);
                color: rgba(255,255,255,.8);
                text-align: center;
            }
            
            #left-container {
                height: 100%;
            }
            #right-container {
                display: grid;
                grid-template-rows: 50% 50%;
            }
            #top-container {
                margin: 10px;
                display: grid;
                grid-template-columns: 30% 70%;
                background-color: #5a6378;
                border-radius: var(--things-default-border-radius);
            }
            #bottom-container {
                display: grid;
                grid-template-rows: 15% 85%;
                grid-template-columns: 50% 50%;
                margin: 10px;
                background-color: #5a6378;
                border-radius: var(--things-default-border-radius);
            }
            .label {
                color: #D5D7DB;
                font-size: 25pt;
                align-self: center;
                grid-column-start: 1;
                grid-column-end: 2;
            }
            #top-container input {
                align-self: center;
                width: 80%;
            }
            mps-auto-popup-input{
                align-self: center;
                width: 81.5%;
            }
            #totalOrderContainer{
                grid-column-start: 1;
                grid-column-end: 3;
            }
            .order{
                align-self: center;
                font-size: larger;
            }
            span.smalltitle{
                display: inline-block !important;
                border-bottom: 3px solid var(--things-secondary-color);
            }
            span.proc b{
                display: block;
                color: #fff;
                font-size: 2.5rem;
                text-shadow: 1px 3px 3px rgba(0,0,0,.3);
                line-height: 1.3;
            }
            #boxId-container {
                display: grid;
                grid-template-columns: 1r 2fr;
            }
            .big-label {
                font-size: larger;
                align-self: center;
            }
            .bigproc{
                align-self: center;
            }
            .bigproc b{
                display: block;
                color: #fff;
                font-size: 6rem;
                text-shadow: 1px 3px 3px rgba(0,0,0,.3);
                line-height: 1.3;
            }
            #input-container{
                grid-column-start: 1;
                grid-column-end: 3;
                text-align: right;
                align-self: center;
            }
            #input-container input{
                height: 20px;
            }
            mps-list{
                height: 80%;
                margin: 10px;
            }
            #left-top-container {
                margin: 10px;
                height: 20%;
                display: grid;
                grid-template-columns: 50% 50%;
                background-color: #5a6378;
                border-radius: var(--things-default-border-radius);
            }
        </style>
        <sys-ajax
            id="get-sku-ajax"
            method="GET"
            content-type="application/json"
            on-sys-ajax-response="_getSkuData">
        </sys-ajax>
        <sys-ajax
            id="box-put-ajax"
            method="PUT"
            content-type="application/json"
            on-sys-ajax-response="_getBoxData"
            on-sys-ajax-error="_handleStatusError">
        </sys-ajax>
        <!-- 송장 재발행을 위한 Ajax -->
        <sys-ajax
            id="reprint-invoice-ajax"
            curl="/kiosk_process/dps/packing/print/:box_id"
            method="PUT"
            content-type="application/json"
            on-sys-ajax-response="_reprintSucceed">
        </sys-ajax>
            <div id="left-container">
                <!-- <div class="order">
                    <span class="smalltitle">[[total]] SKU</span>
                    <span class="proc"><b>[[skuPicking]]</b></span>
                </div>
                <div class="order">
                    <span class="smalltitle">[[finished]] SKU</span>
                    <span class="proc"><b>[[skuPicked]]</b></span>
                </div> -->
                <div id = "left-top-container">
                    <div class="order">
                        <span class="smalltitle">[[total]] [[box]]</span>
                        <span class="proc"><b>[[boxPicking]]</b></span>
                    </div>
                    <div class="order">
                        <span class="smalltitle">[[finished]] [[box]]</span>
                        <span class="proc"><b>[[boxPicked]]</b></span>
                    </div>
                </div>
                <mps-list
                    id="mps-list"
                    header="[[header]]"
                    data="[[items]]"
                    on-configured="_addOrderStatusAttr">
                </mps-list>
            </div>
            <div id="right-container">
                <div id = "top-container">
                    <span class="label">[[skuCdLabel]]</span>
                    <!-- <input id="sku-code" on-keypress="skuChange"> -->
                    <!-- SKU 정보 조회 시 복수개가 조회된 경우 실행되는 사용자가 고를 수 있는 팝업이 가미된 SKU Input -->


                    <mps-auto-popup-input
                        hide-keyboard
                        id="sku-code"
                        resource-url="[[getSkuAjaxUrl]]"
                        popup-title="[[popupTitleLabel]]"
                        button-txt-callback="[[_skuButtonTxtCallback]]"
                        allowed-focus-out
                        on-item-selected="skuChange"
                        on-sys-ajax-error="_findSkuError">
                    </mps-auto-popup-input>
    
                    <span class="label">[[skuNmLabel]]</span>
                    <input id="sku-name" readonly>

                    <span class="label">[[boxIdLabel]]</span>
                    <input id="box-id" on-keypress="_boxChange">
                </div>
                <div id="bottom-container">
                    <span id='box-type-label'class="big-label">[[boxTypeLabel]]</span>
                    <span id='box-qty-label' class="big-label" hidden>[[boxQtyLabel]]</span>
                    <span id='order-qty-label' class="big-label" >[[orderQtyLabel]]</span>
                    <span id='box-type'class="bigproc" ><b>[[boxType]]</b></span>
                    <span id='box-qty'class="bigproc" hidden><b>[[boxQty]]</b></span>
                    <span id='order-qty'class="bigproc" ><b>[[orderQty]]</b></span>
                </div>
            </div>
            <div id="input-container">
                <input hidden id = "continue-box-scan" type="checkbox" on-change="_continueBoxScan">
                <label hidden>[[continueBoxScanLabel]]</label>
                <input id = "print-check" type="checkbox">
                <label>[[reprintLabel]]</label>
                <input id = "redo-check" type="checkbox" on-click="refresh">
                <label>[[redoLabel]]</label>
            </div>
    </template>
    <script>
        class KioskSingleHandling extends Polymer.Element {
            static get is() {
                return 'kiosk-single-handling';
            }
            static get properties() {
                return {
                    items:{
                        type: Array
                    },
                    header:{
                        type: Array,
                        value: function() {  		
                            // a. 피스 수량/ 박스타입/ 주문 수/ 완료주문 수
                            return [{
                                display: t('label.pcs_qty'),
                                fieldname: 'pcs_qty',
                                columnWidth: '0.25fr',
                                style: {
                                    textAlign: 'center',
                                }
                            },{
                                display: t('label.box_type'),
                                fieldname: 'box_type_cd',
                                columnWidth: '0.25fr',
                                style: {
                                    textAlign: 'center',
                                },
                            },{
                                display: t('label.order_cnt'),
                                fieldname: 'order_cnt',
                                columnWidth: '0.25fr',
                                style: {
                                    textAlign: 'center',
                                },
                            },{
                                display: t('label.com_cnt'),
                                fieldname: 'comp_cnt',
                                columnWidth: '0.25fr',
                                style: {
                                    textAlign: 'center',
                                },
                            }]
                        }
                    },
                    regionCd:{
                        type: String,
                        value: function() {
                            return JSON.parse(localStorage.getItem('setting.regionCode'));
                        }
                    },
                    skuCdLabel: {
                        type: String,
                        value: function () {
                            return t('label.sku_cd');
                        }
                    },
                    skuNmLabel: {
                        type: String,
                        value: function () {
                            return t('label.sku_nm');
                        }
                    },
                    boxTypeLabel: {
                        type: String,
                        value: function () {
                            return t('label.box_type');
                        }
                    },
                    boxQtyLabel: {
                        type: String,
                        value: function () {
                            return t('label.box_qty');
                        }
                    },
                    boxIdLabel: {
                        type: String,
                        value: function () {
                            return t('label.box_id');
                        }
                    },
                    total:{
                        type: String,
                        value: function () {
                            return t('label.total')
                        }
                    },
                    finished:{
                        type: String,
                        value: function () {
                            return t('label.finished')
                        }
                    },
                    order_qty:{
                        type: String,
                        value: function () {
                            return t('label.order_qty')
                        }
                    },
                    box:{
                        type: String,
                        value: function () {
                            return t('label.box')
                        }
                    },
                    continueBoxScanLabel: {
                        type: String,
                        value: function() {
                        return t('label.continue_box_scan');
                        }
                    },
                    orderQtyLabel: {
                        type: String,
                        value: function() {
                        return t('label.order_qty');
                        }
                    },
                    /**
                     * SKU 수량
                     ****************
                    * @type {String}
                    */
                    qtyLabel: {
                        type: String,
                        value: function() {
                        return t('label.qty');
                        }
                    },

                    redoLabel:{
                        type: String,
                        value: function() {
                        return t('label.redo');
                        }
                    },
                    /**
                    * SKU 정보 조회 후 복수개가 조회된 경우 사용자가 고를 수 있는 팝업이 실행되는데 그 팝업에 표시할 타이틀
                    ****************
                    * @type {String}
                    */
                    popupTitleLabel: {
                        type: String,
                        value: () => t('label.sku')
                    },
                    /**
                    * SKU 정보 조회를 위한 URL
                    ****************
                    * @type {String}
                    */
                    getSkuAjaxUrl: {
                        type: String,
                        value : `/pda_process/find_sku/${ANY_UTIL.getRegionCd()}/:inputValue`
                    },
                    /**
                     * 재발행 라벨
                     ****************
                    * @type {String}
                    */
                    reprintLabel: {
                        type: String,
                        value: t('button.print_label')
                    },
                    /**
                     * SKU 확정
                     ****************
                    * @type {Number}
                    */
                    skuPicked: {
                        type: Number,
                        value: 0
                    },

                    /**
                     * SKU 예정
                     ****************
                    * @type {Number}
                    */
                    skuPicking: {
                        type: Number,
                        value: 0
                    },

                    /**
                     * BOX 확정
                     ****************
                    * @type {Number}
                    */
                    boxPicked: {
                        type: Number,
                        value: 0
                    },

                    /**
                     * BOX 예정
                     ****************
                    * @type {Number}
                    */
                    boxPicking: {
                        type: Number,
                        value: 0
                    },
                    /**
                     * 페이지 정보
                     ****************
                    * @type {Number}
                    */
                    page: {
                        type: Number,
                        value: 1
                    },
                    /**
                     * Limit 정보
                     ****************
                    * @type {Number}
                    */
                    limit: {
                        type: Number,
                        value: 100
                    },
                    boxType:{
                        type: Number
                    },
                    boxQty:{
                        type: String
                    },
                    currentSkuInfo:{
                        type: Object
                    }
                };
            }
            static get listeners() {
                return {
                    'page-changed-to-kiosk_single_handling' : '_routingChanged'
                }
            }     

            //페이지 변경시 상품코드 select
            connectedCallback() {
                super.connectedCallback();
                document.addEventListener('page-changed', event => {
                    if(event.detail.currentPage === location.hash.replace('#/', '')) {
                        this._focusLabelInput(event);
                    }
                });
                this._focusLabelInput();
            }
            _focusLabelInput() {
                this.skuChange();
                this._getSkuCdInput().select();
            }

            _addOrderStatusAttr(event){
                let list = event.detail.contentElements;
                if(this.currentSkuInfo){
                    list.forEach(row=>{
                        let data = row.getData();
                        if(data.box_type_cd == this.currentSkuInfo.box_type_cd && data.pcs_qty ==this.currentSkuInfo.pick_qty){
                            row.classList.add('selected');
                        }else{
                            row.classList.remove('selected'); 
                        }
                    })
                }
            }
            /**
            * SKU 정보 조회 시 복수개가 조회된 경우 사용자가 고를 수 있는 버튼이 실행되는데 그 버튼에 표시할 내용
            *******************
            * @param {Object} item
            */
            _skuButtonTxtCallback(item) {
                return `(${item.sku_cd})
                    ${item.sku_nm}`;
            }
            //입력된 상품코드로 서버에 정보 요청
            skuChange(event){
                var self = this;
                this.boxId = this._getBoxIdInput().value;
                if(this.$['redo-check'].checked&&this.skuCode!=event.detail.sku_cd){
                    this.refresh();
                    this._getSkuCdInput().value = this.skuBarcd = event.detail.sku_barcd;
                    this.skuCode = event.detail.sku_cd;
                    this.boxId = this._getBoxIdInput().value = "";
                    this._getBoxIdInput().select();
                    return;
                }
                if(event){
                    if(this.skuCode && this.skuCode != event.detail.sku_cd && this._getSkuNmInput().value!=''){
                        this._skuChangeConfirm(event.detail.sku_cd, event.detail.sku_barcd);
                    }else{
                        let skuCode = self.skuCode = event.detail.sku_cd
                        self.skuBarcd = event.detail.sku_barcd;
                        if(self.boxId){
                            self._getSkuAjax().curl = `/kiosk_process/dps/single_packaging/${self.regionCd}/${skuCode}/S/${self.boxId}`;
                        }else{
                            self._getSkuAjax().curl = `/kiosk_process/dps/single_packaging/${self.regionCd}/${skuCode}/S/NA`;
                        }
                        self._getSkuAjax().generateRequest();    
                    }
                }
            }
            _skuChangeConfirm(skuCd,skuBarcd){
                var self = this;
                ANY_UTIL.showConfirm(t('button.confirm'), t('text.confirm_sku_change'), function(){
                    self._getSkuCdInput().value = self.skuBarcd;
                    self._getSkuCdInput().select();
                    if(self.boxId){
                        self._getSkuAjax().curl = `/kiosk_process/dps/single_packaging/${self.regionCd}/${self.skuBarcd}/S/${self.boxId}`;
                    }else{
                        self._getSkuAjax().curl = `/kiosk_process/dps/single_packaging/${self.regionCd}/${self.skuBarcd}/S/NA`;
                    }
                },function(){
                    let skuCode = self.skuCode = skuCd
                    self.skuItem= null;
                    self.boxType = "";
                    self.boxQty = "";
                    self.orderQty = "";
                    self.boxId ="";
                    self._getBoxIdInput().value ="";
                    self.skuBarcd = skuBarcd;
                    self._getSkuAjax().curl = `/kiosk_process/dps/single_packaging/${self.regionCd}/${skuCode}/S/NA`;
                    self._getSkuAjax().generateRequest();                            
                });
                this.blur();
            }
            _getSkuData(e){
                // if(this.skuItem && e.detail && e.detail[0] && e.detail[0].orderList[0] 
                //     &&this.skuItem.pick_qty != e.detail[0].orderList[0].pick_qty){
                //     ANY_UTIL.showMessage(t('button.confirm'), t('text.confirm_qty_change'), function(){
                //         this._doGetSkuData(e.detail[0].orderList[0],e.detail[0].summaryList);
                //     }.bind(this));
                //      e.target.blur();
                // }else{
                if(e.detail && e.detail[0]){
                    var summary = e.detail[0].summary[0];
                    if(summary){
                        this.boxPicking = summary.all_box_qty;
                        this.boxPicked = summary.finish_box_qty;
                    }                    
                    this._doGetSkuData(e.detail[0].orderList[0],e.detail[0].summary[0],e.detail[0].summaryList);
                }
                // }
            }
            _doGetSkuData(item,summary,summaryList){
                this.skuItem = this.currentSkuInfo = item;
                if(!this.skuItem){
                    document.dispatchEvent(new CustomEvent('show-toast',{
                        detail:{
                            title: t('text.order_not_exist'),
                            message: t('text.order_not_exist'),
                        }
                    }));
                    this.refresh();
                    return;
                }
                this.items = summaryList;
                this.set('items', this.items.slice());
                if(this.$['continue-box-scan'].checked && this.skuItem.pick_qty >1){
                    document.dispatchEvent(new CustomEvent('show-toast',{
                        detail:{
                            title: t('text.cannot_continue_box_scan'),
                            message: t('text.cannot_continue_box_scan'),
                        }
                    }));
                    this.refresh();
                    this._getSkuCdInput().select();
                }else if(this.skuItem){
                    if(this.skuItem.bucket_cd && this._getBoxIdInput().value != '' && this._getSkuNmInput().value!=''
                        ){
                        this._getBoxAjax().curl = `/kiosk_process/dps/start_single_packaging/${this.regionCd}/${this.skuItem.sku_cd}/${this.skuItem.bucket_cd}/1/${this.skuItem.box_type_cd}`;
                        this._getBoxAjax().generateRequest();
                    }else{
                        this._getSkuNmInput().value = this.skuItem.sku_nm;
                        this.boxType = this.skuItem.box_type_cd;
                        this.orderQty = this.skuItem.picking_qty+'/'+this.skuItem.pick_qty;
                        this._getBoxIdInput().value = this.skuItem.bucket_cd;
                        if(this.skuItem.picking_qty < this.skuItem.pick_qty && !(this.skuItem.bucket_cd) && (!this._getBoxIdInput().value || this._getBoxIdInput().value=='')){
                            this._getBoxIdInput().select();
                        }else{
                            this._getSkuCdInput().select();
                        }
                    }
                }
                // else{
                //     this._getBoxIdInput().select();
                // }
            }
            //박스아이디 형식에 맞으면 아이디 매핑 아니면 SKU조회B2323211
            _boxChange(e){
                if(e.key == 'Enter' && this.$['redo-check'].checked){
                    var box = this._getBoxIdInput().value;
                    var sku = this.skuCode;
                    this._getSkuAjax().curl = `/kiosk_process/dps/single_packaging/${this.regionCd}/${sku}/S/${box}`;
                    this._getSkuAjax().generateRequest();
                    return;
                }
                if(e.key == 'Enter'){
                    var boxId = this._getBoxIdInput().value.toUpperCase();
                    var skuCode = this.skuCode;
                    if(/^[bcdfghiBCDFGHI][0-9]{7}$/.exec(boxId)){
                        if(this.$['continue-box-scan'].checked && this.skuItem.pick_qty >1){
                            document.dispatchEvent(new CustomEvent('show-toast',{
                            detail:{
                                title: t('text.cannot_continue_box_scan'),
                                message: t('text.cannot_continue_box_scan'),
                                }
                            }));
                            this.refresh();
                            this.items = [];
                            this.set('items', this.items.slice());
                            this._getSkuCdInput().select();
                        }else{

                            if(this.boxId && this._getBoxIdInput().value &&this.boxId != this._getBoxIdInput().value){
                                var self = this;
                                ANY_UTIL.showMessage(t('button.confirm'), t('text.not_comp_exis_box_id'), function(){
                                    if(self.skuItem && self.skuItem.bucket_cd){
                                        self._getBoxIdInput().value = self.skuItem.bucket_cd;
                                    }
                                    self._getSkuCdInput().select();
                                });
                                this.blur();
                            }else{
                                this.boxId = boxId;
                                if(boxId.slice(0,1)==this.boxType){
                                    if(this.currentSkuInfo && this.currentSkuInfo.picking_qty==0){
                                        this._getBoxAjax().curl = `/kiosk_process/dps/start_single_packaging/${this.regionCd}/${skuCode}/${boxId}/1/${this.boxType}`;
                                        this._getBoxAjax().generateRequest();
                                    }else{
                                        this._getSkuCdInput().select();
                                    }
                                }else{
                                    document.dispatchEvent(new CustomEvent('show-toast',{
                                        detail:{
                                            title: t('title.check_box_type'),
                                            message: t('text.box_type_check'),
                                        }
                                    }));
                                    this.boxId = this._getBoxIdInput().value="";
                                    this._getBoxIdInput().select();
                                }
                            }
                        }
                    }else {
                        let skuBarcd = this._getBoxIdInput().value;
                        if(skuBarcd && skuBarcd!=''){
                            // this.refresh();
                            this._getBoxIdInput().value = this.boxId
                            this.$['sku-code'].set('value',skuBarcd)
                            this.$['sku-code']._triggerAjax();
                        }
                    }
                }
            }
            //박스 매핑 후 화면 리프레시 & 주문건수 업데이트
            _getBoxData(e){
                this.reprint();
                var skuInfo = this.currentSkuInfo = e.detail[0].orderList[0];
                var skuSummary = e.detail[0].summary[0];
                var skuSummaryList = e.detail[0].summaryList;
                this.items = skuSummaryList;
                this.set('items', this.items.slice());
                if(skuInfo){
                    if(this.$['continue-box-scan'].checked){
                        if(e.detail[0].sku_cd ==undefined || e.detail[0].pick_qty>1){
                            // this.boxPicking = e.detail[0].summary.all_box_qty;
                            // this.skuPicking = e.detail[0].summary.all_sku_qty;
                            // this.boxPicked = e.detail[0].summary.finish_box_qty;
                            // this.skuPicked = e.detail[0].summary.finish_sku_qty;
                            this.refresh();
                            this.items = [];
                            this.set('items', this.items.slice());
                        }else{
                            var cnt = 0;
                            e.detail.forEach(item=>{
                                if(item.pick_qty == 1) cnt++;
                            })
                            this.boxQty = cnt;
                            this.boxType = e.detail[0].box_type_cd;
                            this._getBoxIdInput().value = '';
                            this.boxId ='';
                            this._getBoxIdInput().select();
                        }
                    }else{
                        if(skuInfo.picking_qty == 0 && !skuInfo.bucket_cd){
                            if(this.skuItem && this.skuItem.pick_qty!=skuInfo.pick_qty){
                              var self = this;
                              ANY_UTIL.showMessage(t('button.confirm'), t('text.confirm_qty_change'), function(){
                                self._getBoxIdInput().select();    
                              });
                              e.target.blur();
                            }
                            this.orderQty = skuInfo.picking_qty+'/'+skuInfo.pick_qty;
                            this.boxType = skuInfo.box_type_cd;
                            // this._getSkuCdInput().select();
                            this.skuItem=skuInfo;
                            this._getBoxIdInput().value = '';
                            this.boxId ='';
                            this._getBoxIdInput().select();
                        }else if(skuInfo.picking_qty < skuInfo.pick_qty){
                            this.orderQty = skuInfo.picking_qty+'/'+skuInfo.pick_qty;
                            this.boxType = skuInfo.box_type_cd;
                            this._getSkuCdInput().select();
                        }
                    }
                }else{
                    document.dispatchEvent(new CustomEvent('show-toast',{
                        detail:{
                        type: t('text.box_mapping_complete'),
                        message: t('text.box_mapping_complete')
                        }
                    }));
                    this.refresh();
                    this.items = [];
                    this.set('items', this.items.slice());
                }
            }
            refresh(){
                this._getSkuCdInput().value = "";
                this._getSkuNmInput().value = "";
                this._getBoxIdInput().value ="";
                this._getSkuCdInput().select();
                this.boxType = "";
                this.boxQty = "";
                this.orderQty = "";
                this.boxId ="";
                this.skuCode="";
                this.skuBarcd = "";
                this.skuItem = null;
            }
            reprint() {
                if(this.$['print-check'].checked){
                    var reprintAjax = this.$['reprint-invoice-ajax'];
                    reprintAjax.curl = '/kiosk_process/dps/packing/print/' + this._getBoxIdInput().value;
                    reprintAjax.customParams = {
                        printer_id: ANY_UTIL.getKioskPrinterId()
                    };
                    reprintAjax.generateRequest();
                }
            }
            _reprintSucceed(e) {
                if(e.detail.result.toLowerCase() === 'ok'){
                    this.inspectionStatus = '';
                } else {
                // 재발행 실패했을 경우
                  this.showMessage(t('button.confirm'), t('text.reprint_event_listener_error'), this.focusBucketInput.bind(this));
                }
            }
            _continueBoxScan(){
                if(this.$['continue-box-scan'].checked){
                    // this.$['bottom-container'].setAttribute(`style`,`grid-template-columns: 50% 50%;`);
                    this.$['box-qty-label'].setAttribute(`style`,`display: grid`);
                    this.$['box-qty'].setAttribute(`style`,`display: grid`);
                    this.$['order-qty-label'].setAttribute(`style`,`display: none`);
                    this.$['order-qty'].setAttribute(`style`,`display: none`);
                }else{
                    // this.$['bottom-container'].setAttribute(`style`,`grid-template-columns: 50% 50%%;`);
                    this.$['box-qty-label'].setAttribute(`style`,`display: none`);
                    this.$['box-qty'].setAttribute(`style`,`display: none`);
                    this.$['order-qty-label'].setAttribute(`style`,`display: grid`);
                    this.$['order-qty'].setAttribute(`style`,`display: grid`);
                }
            }
            _handleStatusError(){
                this._getBoxIdInput().select();
                this.boxId = null;
                this.$['sku-code']._triggerAjax();
            }
            _findSkuError(){
                this.refresh();
                this.items = [];
                this.set('items', this.items.slice());
            }
            _getSkuAjax(){
                return this.$['get-sku-ajax']
            }
            _getBoxAjax(){
                return this.$['box-put-ajax']
            }
            _getSkuCdInput(){
                return this.$['sku-code']
            }
            _getSkuNmInput(){
                return this.$['sku-name']
            }
            _getBoxIdInput(){
                return this.$['box-id']
            }
        }
        window.customElements.define(KioskSingleHandling.is, KioskSingleHandling);
    </script>
</dom-module>